<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logger UI</title>
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark">
    <a class="navbar-brand" href="#">Logger UI</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-2 bg-light sidebar">
            <div class="sidebar-sticky pt-3">
                <h3>Files</h3>
                <ul class="nav flex-column">
                    <% files.forEach(function(file){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= basePath+'/'+file %>">
                                <%= file %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </nav>

        <main role="main" class="col pt-3">
            <h1>Showing <%= logFile%></h1>
            <h4>Line <%= start %> to <%= end %> of <%= total %> entries <% if (!showAll && pages > 1) { %>(<a href="<%= basePath %>/<%= logFile %>/all">Show all</a>)<% } %><% if (showAll) { %>(<a href="<%= basePath %>/<%= logFile %>/1">Show per page</a>)<% } %></h4>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th width="25%">Timestamp</th>
                        <th width="75%">Message</th>
                    </tr>
                </thead>
                <tbody>
                <% rows.forEach(function(row){ %>
                    <tr>
                        <td><%= (new Date(row.timestamp)).toLocaleDateString('nl-NL', { hour12: false, year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' }) %></td>
                        <td><pre class="pre-scrollable" style="max-width: 800px;"><%= row.message %></pre></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>

            <% if (pages > 1) { %>
            <nav>
                <ul class="pagination">

                    <li class="page-item"><a class="page-link" href="<%= basePath %>/<%= logFile %>/1">Newest</a></li>
                    <% if (page > 1) { %>
                    <li class="page-item"><a class="page-link active" href="<%= basePath %>/<%= logFile %>/<%= (page - 1) %>">Previous</a></li>
                    <% } %>

                    <% if ((page - 1) > 5) { %>
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    <% } %>

                    <% for(let p = (page - 5 > 0 ? page - 5 : 1); p <= (page + 5 <= pages ? page + 5 : pages); p++) { %>
                    <li class="page-item <%= p === page ? 'active' : '' %>"><a class="page-link" href="<%= basePath %>/<%= logFile %>/<%= p %>"><%= p %></a></li>
                    <% } %>

                    <% if (page + 5 < pages) { %>
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    <% } %>

                    <% if ((page + 1) <= pages) { %>
                    <li class="page-item"><a class="page-link" href="<%= basePath %>/<%= logFile %>/<%= (page + 1) %>">Next</a></li>
                    <% } %>
                    <li class="page-item"><a class="page-link" href="<%= basePath %>/<%= logFile %>/<%= pages %>">Oldest</a></li>
                </ul>
            </nav>
            <% } %>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
<script>
    window.basePath = '<%= basePath %>'
</script>
<script src="<%= basePath %>/public/ui.js" type="text/javascript" crossorigin="anonymous"></script>
</body>
</html>
